priority -50

snippet ngcontroller "angular controller"
namespace ${1:namespace} {
	"use strict";

	interface ${2:model} {

	}

	class ${3:class} implements $2 {

		constructor() {
			${0}
		}
	}

	angular
		.module("$1")
		.controller("$3",$3);
}
endsnippet

snippet ngmodule "anuglar module"
namespace ${1:namespace} {

	angular.module("${2:module}", [${0}]);
}
endsnippet

extends javascript
