priority -50

snippet ctor "constructor with call to base"
constructor() {
	super();
}
endsnippet

snippet for "for loop"
for (let ${2:i} = 0; $2 < ${1:arr}.length; $2++) {
	let ${3:v} = $1[$2];${0:}
}
endsnippet

snippet forr "reveresed for loop"
for (let ${2:i} = ${1:arr}.length - 1; $2 >= 0; $2--) {
	let ${3:v} = $1[$2];${0:}
}
endsnippet

extends javascript
